html, body{
    height: 95%;
    width:95%;
    font-family: "Georgia";
    margin: 0 auto;
}
body {
    background: #333;
}

#header {
	width: 100%;
	height: 30%;
    font-size: 60px;
	color: #fff;
	text-align: center;
    line-height: 75px;
    border: 1px solid #333;
}

#footer {
	display: table;
    width: 100%;
    border: 1px solid #333;
}

#footer .footer-line {
	width: 100%;
	height: 1px;
    background: #fff;
}

#footer .license {
	width: 100%;
	height: 80px;
	font-size: 12px;
	color: #666;
	text-align: center;
	line-height: 75px
}

#footer .license a {
	color: #666;
	text-decoration: underline
}

#footer .license a:hover {
	color: #000
}
.container {
    white-space: nowrap;
    height: 70%;
}
.column {
    width: 50%;
    font-size: 150px;
    border: 1px solid #333;
    display: inline-block;
    white-space: normal;
}

.left {
    padding-top: 20px;
}

/*typewriter-effect =======================================================================*/

.css-typing p {
    border-right: .15em solid orange;
    font-style: bold;
    letter-spacing: 5 px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
  }
  .css-typing p:nth-child(1) {
    width: 3.5em;
    animation: type 500ms steps(5, end);
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 6.5em;
    opacity: 0;
    animation: type2 1000ms steps(10, end);
    animation-delay: 500ms;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(3) {
    font-size: 25px;
    width: 12.3em;
    opacity: 0;
    animation: type3 1000ms steps(10, end);
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

/*======================================================================= typewriter-effect*/

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
 
li{
  float: left;
  margin: 10px;
  border: 5px solid #fff;
  width: 150px;
  height: 150px;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

li img{
  width: 150px;
  height: 150px;
}
 
li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}